<div class="grid12_4 home_neighborhood">
<div id="logo">Eat A Home Cooked Meal Tonight</div>
<div id="txt_borough">Choose your borough:</div>
<div id="ddl_borough"><%= select_tag :locations, options_for_select(@locations) %></div>
<%= image_tag "home-submit.jpg" , :class=>'homesubmit' %>
</div>
<div class="grid12_8 home_map">
<%= image_tag "home-map.jpg", :class=>'map_image' %>
</div>
<div class="clear"></div>

<div class="grid12_3">
  <%= image_tag "dishes.jpg", :class=>'img_dishes' %>
</div>
<div class="grid12_9">
  <%= image_tag "chefs.jpg", :class=>'img_chefs' %>
</div>
<div class="clear"></div>
