<div class="grid12_4 home_neighborhood">
<% if ! user_signed_in? %>
<%= link_to ( image_tag "register-btn.png" , :class=>'header_register_btn' ) , new_user_registration_path %>
<% end %>
<div id="logo">Local Chefs Cook In Your Home</div>
<div id="txt_borough">Choose your location:</div>
<div id="ddl_borough"><%= select_tag :locations, options_for_select(@locations) %></div>
<%= link_to ( image_tag "home-submit.jpg" , :class=>'homesubmit' ), listings_path %>
</div>
<div class="grid12_8 home_map">
<%= image_tag "home-map-lowrez.jpg", :class=>'map_image' %>
</div>
<div class="clear"></div>

<div class="grid12_3">
  <%= image_tag "dishes.jpg", :class=>'img_dishes' %>
</div>
<div class="grid12_9">
  <%= link_to ( image_tag "chefs.jpg", :class=>'img_chefs') , chefs_path  %>
</div>
<div class="clear"></div>

<div class="grid12_12">
  <%= image_tag "book-to-cook.png", :class=>'img_booktocook' %>
</div>
<div class="clear"></div>
<br />
<br />
<br />
